<div class="row">
  <div class="col-lg-6">
    <h4>Patient Details</h4>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Medical Record Number" disabled />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field>
          <input matInput placeholder="First Name" disabled />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field>
          <input matInput placeholder="Last Name" disabled />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h4>SOAP History</h4>
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Subjective</th>
        <th>Objective</th>
        <th>Assessment</th>
        <th>Plan</th>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
