<div class="row">
  <div class="col-lg-6">
    <h4>Patient Details</h4>
    <div class="row">
      <mat-form-field class="col-lg-6">
        <input
          matInput
          [(ngModel)]="mrNum"
          placeholder="Medical Record Number"
        />
      </mat-form-field>
      <button class="col-lg-2" (click)="findPatient()" mat-raised-button>
        Search
      </button>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="patient.firstName"
            placeholder="First Name"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="patient.lastName"
            placeholder="Last Name"
            disabled
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput [(ngModel)]="patient.dob" placeholder="DoB" disabled />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <textarea
          matInput
          [(ngModel)]="patient.addr"
          placeholder="Address"
          disabled
        ></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-lg-8">
        <input
          matInput
          [(ngModel)]="patient.mobileNo"
          placeholder="Phone"
          disabled
        />
      </mat-form-field>
      <mat-form-field class="col-lg-4">
        <input
          matInput
          [(ngModel)]="patient.gender"
          placeholder="Gender"
          disabled
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-lg-6">
        <input
          matInput
          [(ngModel)]="patient.occupation"
          placeholder="Occupation"
          disabled
        />
      </mat-form-field>
      <mat-form-field class="col-lg-6">
        <input
          matInput
          [(ngModel)]="patient.race"
          placeholder="Race"
          disabled
        />
      </mat-form-field>
    </div>
  </div>
  <div class="col-lg-6">
    <h4>SOAP History</h4>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let soap of soaps">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ soap.soapDate }} </mat-panel-title>
          <mat-panel-description>
            {{ soap.hospitalStaff.firstName }} {{ soap.hospitalStaff.lastName }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <h5>Subjective</h5>
        {{ soap.subjectiveNote }}
        <h5>Objective</h5>
        {{ soap.objectiveNote }}
        <h5>Assessment</h5>
        {{ soap.assessmentNote }}
        <h5>Plan</h5>
        {{ soap.planNote }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
