<div class="row">
  <div class="col-lg-12" *ngIf="this.user.userType != 'PATIENT'">
    <mat-form-field class="col-lg-2">
      <input matInput [(ngModel)]="mrNum" placeholder="MR Number" />
    </mat-form-field>
    <strong style="padding-top: 10px">(or)</strong>
    <mat-form-field class="col-lg-3">
      <input matInput [(ngModel)]="firstName" placeholder="First Name" />
    </mat-form-field>
    <mat-form-field class="col-lg-3">
      <input matInput [(ngModel)]="lastName" placeholder="Last Name" />
    </mat-form-field>
    <button class="col-lg-1" (click)="findPatient()" mat-raised-button>
      Search
    </button>
  </div>
  <br>
  <div class="col-lg-6">
    <br>
    <h4 style="text-align:center">Patient Details</h4>
    <br>
    <div class="row">
      <div class="container" *ngIf="this.user.userType === 'PATIENT'">
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field>
              <input class="form-control" matInput [(ngModel)]="patientUser.firstName" placeholder="First Name" disabled />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field>
              <input class="form-control" matInput [(ngModel)]="patientUser.lastName" placeholder="Last Name" disabled />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <mat-form-field class="col-lg-12">
            <input class="form-control" matInput [(ngModel)]="patientUser.dob" placeholder="DoB" disabled />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-lg-12">
            <textarea class="form-control" style="height: 100px; width: 200px" matInput [(ngModel)]="patientUser.addr" placeholder="Address"
              disabled></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-lg-6">
            <input class="form-control" matInput [(ngModel)]="patientUser.mobileNo" placeholder="Phone" disabled />
          </mat-form-field>
          <mat-form-field class="col-lg-6">
            <input class="form-control" matInput [(ngModel)]="patientUser.gender" placeholder="Gender" disabled />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-lg-6">
            <input class="form-control" matInput [(ngModel)]="patientUser.occupation" placeholder="Occupation" disabled />
          </mat-form-field>
          <mat-form-field class="col-lg-6">
            <input class="form-control" matInput [(ngModel)]="patientUser.race" placeholder="Race" disabled />
          </mat-form-field>
        </div>
      </div>
      
      <mat-accordion class="col-lg-12" *ngIf="this.user.userType != 'PATIENT'">
        <mat-expansion-panel *ngFor="let patient of patients">
          <mat-expansion-panel-header>
            <mat-panel-title> <strong>{{ patient.firstName }} {{ patient.lastName}}</strong> </mat-panel-title>
            <mat-panel-description>
              | {{ patient.dob }} | {{ patient.mrnum }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h6 style="padding-top: 5px"><strong>Address</strong></h6>
          {{patient.addr}}
          <h6 style="padding-top: 5px"><strong>Mobile Number</strong></h6>
          {{ patient.mobileNo }}
          <h6 style="padding-top: 5px"><strong>Gender</strong></h6>
          {{ patient.gender }}
          <h6 style="padding-top: 5px"><strong>Occupation</strong></h6>
          {{ patient.occupation }}
          <h6 style="padding-top: 5px"><strong>Race</strong></h6>
          {{patient.race}}
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>


  <div class="col-lg-6">
    <br>
    <h4 style="text-align:center">SOAP History</h4>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let soap of soaps">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ soap.soapDate }} </mat-panel-title>
          <mat-panel-description>
            {{ soap.hospitalStaff.firstName }} {{ soap.hospitalStaff.lastName }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h5>Subjective</h5>
        {{ soap.subjectiveNote }}
        <h5>Objective</h5>
        {{ soap.objectiveNote }}
        <h5>Assessment</h5>
        {{ soap.assessmentNote }}
        <h5>Plan</h5>
        {{ soap.planNote }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>