<div class="row loginRow">

	<div class="col-md-7 advSection">
		<div>
			<h3>Ambulatory EMR</h3>
			<img src="assets/hospital-staff.jpg" alt="Ops!!!" width=200em
				height=200em>
			<ul class="noBullets">
				<li>Streamline the Patient Medicare Process</li>
				<li>Regularize the Patient Ambulatory care time to 15 minutes</li>
			</ul>
		</div>

	</div>

	<div class="col-md-5 border loginSection">
		<h4>{{loginTitle}}</h4>
		<span>New to Tender? <a href="">Create your account</a></span>
		<form novalidate>
			<div class="form-group">
				<input type="text" class="form-control" id="email"
					placeholder="E-Mail" name="email" required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password"
					placeholder="Password" name="password" required>
			</div>
			<div class="form-group">
				&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"
					class="form-check-input" id="remember_me"> <label>Remember
					Me</label>
			</div>
			<span><button type="button"
					class="btn btn-outline-primary btn-rounded waves-effect signInButton">Sign
					In</button> <a href=""> Forgot Password</a></span>
		</form>
	</div>

</div>
