<div class="container">
  <div class="row loginRow align-items-center">
    <div class="col-xs-12 col-lg-6 advSection">
      <div>
        <h1>Ambulatory EMR</h1>
        <img src="assets/hospital-staff.jpg" alt="Ops!!!" width=200em height=200em>
        <ul class="noBullets">
          <li>Streamline the Patient Medicare Process</li>
          <li>Regularize the Patient Ambulatory care time to 15 minutes</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6 border loginSection py-4">
      <h3>{{loginTitle}}</h3>
      <form [formGroup]="loginForm" (ngSubmit)="checkRole(loginForm.value)">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="text" placeholder="E-Mail" formControlName="email" class="form-control" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
          <div *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
            <span *ngIf="loginForm.controls['email'].errors?.required ">
              E-mail is Required
            </span>
            <span *ngIf="loginForm.controls['email'].errors?.pattern">
              Enter a valid E-mail
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input id="pass" type="password" placeholder="Password" formControlName="password" class="form-control">
          <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
            <span *ngIf="loginForm.controls['password'].errors?.required ">
              Password is Required
            </span>
          </div>
        </div>
        <div class="mt-2">
          <button  [disabled]= "!loginForm.valid"type="submit" class="btn btn-danger btn-rounded waves-effect signInButton">Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>