.loginRow {
	padding: 120px;
	max-width: 100%;
    overflow-x: hidden;

}
.advSection {
	text-align: center;
}
.noBullets {
	list-style-type: none;
}
h1{
	color: #006699;
}
.loginSection{
	height: auto;
	width: auto;
}
h3{
	padding-top: 10px;
	color: #006699;
	text-align: center;
	}
.signInButton {
	border-radius: 30px;
	width: 130px;
}