<form #soapForm="ngForm">
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Medical Record Number"
            [(ngModel)]="mrNum" name="mrNum"
            disabled
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <textarea
            matInput
            [(ngModel)]="subjective"
            placeholder="Subjective" name="subjective"
          required></textarea>
        </mat-form-field>
        <mat-form-field fxFlex>
          <textarea
            matInput
            [(ngModel)]="objective"
            placeholder="Objective" name="objective"
          required></textarea>
        </mat-form-field>
        <mat-form-field fxFlex>
          <textarea
            matInput
            [(ngModel)]="assessment"
            placeholder="Assessment" name="assessment"
          required></textarea>
        </mat-form-field>
        <mat-form-field fxFlex>
          <textarea matInput [(ngModel)]="plan" placeholder="Plan" name="plan" required></textarea>
        </mat-form-field>
        <button fxFlex mat-raised-button (click)="addSoap()" [disabled]="soapForm.invalid">Add SOAP</button>
      </div>
      
</form>
