<h4><label>My Dashboard</label></h4>
<br />
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Appointments</h5>
        <h3 class="card-subtitle mb-2 text-muted">
          {{ appointments?.length }}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Checked In</h5>
        <h3 class="card-subtitle mb-2 text-muted">10</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Checked Out</h5>
        <h3 class="card-subtitle mb-2 text-muted">8</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Payments</h5>
        <h3 class="card-subtitle mb-2 text-muted">1500$</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4"><h4>Apppointments for the Day</h4></div>
  <div class="col-lg-4"><h4>Checked In</h4></div>
  <div class="col-lg-4"><h4>Checked Out</h4></div>
</div>

<br />
<div class="row">
  <table class="table col-lg-4">
    <thead>
      <tr>
        <th>S. No</th>
        <th>Patient Name</th>
        <!-- <th>Email</th> -->
        <th>Slot Time</th>
        <!-- <th>Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of pending; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
        </td>
        <!-- <td>{{ appointment.email }}</td> -->
        <td>{{ appointment.time }}</td>
        <!-- <td>{{ appointment.comments }}</td> -->
      </tr>
    </tbody>
  </table>
  <table class="table col-lg-4">
    <thead>
      <tr>
        <th>S. No</th>
        <th>Patient Name</th>
        <!-- <th>Email</th> -->
        <th>Slot Time</th>
        <!-- <th>Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of checkedIn; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
        </td>
        <!-- <td>{{ appointment.email }}</td> -->
        <td>{{ appointment.time }}</td>
        <!-- <td>{{ appointment.comments }}</td> -->
      </tr>
    </tbody>
  </table>
  <table class="table col-lg-4">
    <thead>
      <tr>
        <th>S. No</th>
        <th>Patient Name</th>
        <!-- <th>Email</th> -->
        <th>Slot Time</th>
        <!-- <th>Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of checkedOut; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
        </td>
        <!-- <td>{{ appointment.email }}</td> -->
        <td>{{ appointment.time }}</td>
        <!-- <td>{{ appointment.comments }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
