<div class="sidenav">
<img src="assets/hospital-staff.jpg" class="rounded-circle" alt="UserImage" width="150" height="150">
<ul class="noBullets">
	<li>Hello Dr Kumar</li>
	<li>Welcome</li>

</ul>
	<a href="#">Appointments</a> 
	<a href="#">Patients</a>
	<a href="#">Payments</a> 
	<a href="#">Contact</a>
</div>

<div class="container mainContent">
	<div class="row">
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Today's Appointments</h5>
					<h3 class="card-subtitle mb-2 text-muted">15</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-3"><div class="card">
				<div class="card-body">
					<h5 class="card-title">Checked In</h5>
					<h3 class="card-subtitle mb-2 text-muted">10</h3>
				</div>
			</div></div>
		<div class="col-sm-3"><div class="card">
				<div class="card-body">
					<h5 class="card-title">Checked Out</h5>
					<h3 class="card-subtitle mb-2 text-muted">8</h3>
				</div>
			</div></div>
		<div class="col-sm-3"><div class="card">
				<div class="card-body">
					<h5 class="card-title">Payments</h5>
					<h3 class="card-subtitle mb-2 text-muted">1500$</h3>
				</div>
			</div></div>
	</div>
<div class="row displayData"><table class="table">
  <thead style="color:grey">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

</div>


