<div class="row">
  <mat-form-field class="col-lg-6">
    <input
      matInput
      [(ngModel)]="currentSelectedDate"
      [matDatepicker]="picker"
      placeholder="Choose a date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-select
    class="col-lg-6"
    placeholder="Slot"
    [(ngModel)]="selectedValue"
    name="slot"
  >
    <mat-option *ngFor="let slot of slots" [value]="slot">
      {{ slot }}
    </mat-option>
  </mat-select>
</div>
<div class="row">
  <mat-select
    placeholder="Doctor's Name"
    [(ngModel)]="selectedDoctorId"
    name="item"
  >
    <mat-option *ngFor="let doctor of doctors" [value]="doctor.email">
      {{ doctor.firstName }} {{ doctor.lastName }}
    </mat-option>
  </mat-select>
</div>
<div class="row">
  <mat-form-field>
    <input matInput placeholder="Medical Record Number" [(ngModel)]="mrNum" />
  </mat-form-field>
  <button mat-button (click)="findPatient()">Search</button>
</div>
<div class="row">
  <mat-form-field>
    <input
      matInput
      placeholder="Patient Name"
      [(ngModel)]="patientName"
      disabled
    />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Cheif Complaints"></textarea>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Comments"></textarea>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Health Condition"></textarea>
  </mat-form-field>
</div>
<div class="row"><button mat-raised-button>Book!</button></div>
