.sidenav {
  height: calc(100vh - 50px);
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: rgb(226, 241, 240);
  overflow: hidden;
  z-index: -1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
}
