<h3>Reset Password</h3>
<p class="text-muted">
  Please enter the following details
</p>
<form [formGroup]="forgotPasswordForm"><div class="form-group">
  <label for="dateofBirth">Date of Birth</label>
  <br>
  <input class="form-control" type="Date" formControlName="dob" id="dateofBirth" [max]="today" [min]="minDOB" placeholder="Date of Birth">
  <div *ngIf="forgotPasswordForm.controls['dob'].touched && !forgotPasswordForm.controls['dob'].valid">
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['dob'].hasError('required') ">
          Please select date of birth
      </small>
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['dob'].touched && (forgotPasswordForm.controls['dob'].errors?.maxDate || forgotPasswordForm.controls['dob'].errors?.minDate)">
          Please select valid date
      </small>
  </div>
</div>
<div class="form-group">
  <label>Mobile Number</label>
  <br>
  <input class="form-control" type="text" formControlName="phone" placeholder="Mobile Number">
  <div *ngIf="forgotPasswordForm.controls['phone'].touched && !forgotPasswordForm.controls['phone'].valid">
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['phone'].errors?.required ">
          Telephone is Required
      </small>
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['phone'].errors?.maxlength ">
          Maximum length is 10
      </small>
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['phone'].errors?.minlength ">
          Minimum length is 10
      </small>
      <small class="text-danger" *ngIf="forgotPasswordForm.controls['phone'].errors?.pattern ">
          Only Numbers are allowed!
      </small>
  </div>
</div>

<div class="text-center" *ngIf="retrievedPassword">
  <small class="text-success">Successfully reset your password. The new password is: {{retrievedPassword}}</small>
</div>

<div class="text-center">
  <button class="btn btn-sm btn-primary mx-2" [disabled]="forgotPasswordForm.invalid" (click)="submit()" type="submit">Submit</button>
  <button class="btn btn-sm btn-danger mx-2" (click)="close.emit()" type="button">Cancel</button></div>

<div class="text-center" *ngIf="errorRetrieving ">
  <small class="text-danger">Error retrieving password. Please recheck the details.</small>
</div>
</form>
