<p>
  Please enter the following details
</p>
<form><div class="col-sm-3">
  <label for="dateofBirth">Date of Birth</label>
  <br>
  <input class="form-control" type="Date" formControlName="dob" id="dateofBirth" [max]="today">
  <div *ngIf="registrationForm.controls['dob'].touched && !registrationForm.controls['dob'].valid">
      <span *ngIf="registrationForm.controls['dob'].hasError('required') ">
          Please select date of birth
      </span>
      <span *ngIf="registrationForm.controls['dob'].touched && registrationForm.controls['dob'].errors?.maxDate">
          Please select valid date
      </span>
  </div>
</div>
<div class="col-sm-3">
  <label>Mobile Number</label>
  <br>
  <input class="form-control" type="text" formControlName="mobileNumber">
  <div *ngIf="registrationForm.controls['mobileNumber'].touched && !registrationForm.controls['mobileNumber'].valid">
      <span *ngIf="registrationForm.controls['mobileNumber'].errors?.required ">
          Telephone is Required
      </span>
      <span *ngIf="registrationForm.controls['mobileNumber'].errors?.maxlength ">
          Maximum length is 10
      </span>
      <span *ngIf="registrationForm.controls['mobileNumber'].errors?.minlength ">
          Minimum length is 10
      </span>
      <span *ngIf="registrationForm.controls['mobileNumber'].errors?.pattern ">
          Only Numbers are allowed!
      </span>
  </div>
</div>
</form>
