<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <br>
    <h3 style="text-align:center">Patient Registration</h3>
    <br><br>
    <form [formGroup]="registrationForm" (ngSubmit)="addPatient(registrationForm.value)">
        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label for="salutation">Salutation</label>
                <br>
                <select class="form-control" formControlName="salutation" id="salutation">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let sal of salutation" [value]="sal.id">{{sal.name}}</option>
                </select>

                <div *ngIf="registrationForm.controls['salutation'].touched && !registrationForm.controls['salutation'].valid">
                    <span *ngIf="registrationForm.controls['salutation'].hasError('required') ">
                        Salutation is Required
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="firstName">FirstName</label>
                <br>
                <input class="form-control" type="text" id="firstName" formControlName="firstName">
                <div *ngIf="registrationForm.controls['firstName'].touched && !registrationForm.controls['firstName'].valid">
                    <span *ngIf="registrationForm.controls['firstName'].errors?.required ">
                        Please enter FirstName
                    </span>
                    <span *ngIf="registrationForm.controls['firstName'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                    <span *ngIf="registrationForm.controls['firstName'].errors?.minlength ">
                        Min length is 5
                    </span>
                    <span *ngIf="registrationForm.controls['firstName'].errors?.maxlength ">
                        Max length is 10
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="lastName">LastName</label>
                <br>
                <input class="form-control" type="text" formControlName="lastName" id="lastName">
                <div *ngIf="registrationForm.controls['lastName'].touched && !registrationForm.controls['lastName'].valid">
                    <span *ngIf="registrationForm.controls['lastName'].errors?.required ">
                        Please enter LastName
                    </span>
                    <span *ngIf="registrationForm.controls['lastName'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                    <span *ngIf="registrationForm.controls['lastName'].errors?.minlength ">
                        Min length is 5
                    </span>
                    <span *ngIf="registrationForm.controls['lastName'].errors?.maxlength ">
                        Max length is 10
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="dateofBirth">Date of Birth</label>
                <br>
                <input class="form-control" type="Date" formControlName="dob" id="dateofBirth">
                <div *ngIf="registrationForm.controls['dob'].touched && !registrationForm.controls['dob'].valid">
                    <span *ngIf="registrationForm.controls['dob'].hasError('required') ">
                        Please select date of birth
                    </span>
                </div>
            </div>
        </div>

        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label>Gender</label>
                <br>
                <label class="radio-inline">
                    <input class="form-control" type="radio" value="male" formControlName="gender">Male &nbsp;
                </label>
                <label class="radio-inline">
                    <input class="form-control" type="radio" value="female" formControlName="gender">Female
                </label>
                <div *ngIf="registrationForm.controls['gender'].touched && !registrationForm.controls['gender'].valid">
                    <span *ngIf="registrationForm.controls['gender'].hasError('required') ">
                        Please select gender
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="ethinicity">Ethnicity</label>
                <br>
                <select class="form-control" id="ethinicity" formControlName="ethnicity">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let ethn of ethinicity" [value]="ethn.id">{{ethn.name}}</option>
                </select>
                <div *ngIf="registrationForm.controls['ethnicity'].touched && !registrationForm.controls['ethnicity'].valid">
                    <span *ngIf="registrationForm.controls['ethnicity'].hasError('required') ">
                        Please select ethnicity
                    </span>
                    <span *ngIf="registrationForm.controls['ethnicity'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="race">Race</label>
                <br>
                <select class="form-control" id="race" formControlName="race">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let rac of race" [value]="rac.id">{{rac.name}}</option>
                </select>
                <div *ngIf="registrationForm.controls['race'].touched && !registrationForm.controls['race'].valid">
                    <span *ngIf="registrationForm.controls['race'].hasError('required') ">
                        Please select Race
                    </span>
                </div>
            </div>

        </div>
        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label for="occupation">Occupation</label>
                <br>
                <input class="form-control" id="occupation" type="text" formControlName="occupation">
                <div *ngIf="registrationForm.controls['occupation'].touched && !registrationForm.controls['occupation'].valid">
                    <span *ngIf="registrationForm.controls['occupation'].hasError('required') ">
                        Please enter Occupation
                    </span>
                    <span *ngIf="registrationForm.controls['occupation'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="marital">Marital Status</label>
                <br>
                <select class="form-control" id="marital" type="text" formControlName="maritalStatus">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let marital of maritalStatus" [value]="marital.id">{{marital.name}}</option>
                </select>
                <div *ngIf="registrationForm.controls['maritalStatus'].touched && !registrationForm.controls['maritalStatus'].valid">
                    <span *ngIf="registrationForm.controls['maritalStatus'].hasError('required') ">
                        Please select MaritalStatus
                    </span>

                </div>
            </div>
            <div class="col-sm-3">
                <label for="disability">Disability Status</label>
                <br>
                <select class="form-control" id="disability" type="text" formControlName="disabilityStatus">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let disable of disability" [value]="disable.id">{{disable.name}}</option>
                </select>
                <div *ngIf="registrationForm.controls['disabilityStatus'].touched && !registrationForm.controls['disabilityStatus'].valid">
                    <span *ngIf="registrationForm.controls['disabilityStatus'].hasError('required') ">
                        Please select disabilityStatus
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label>Address Line 1</label>
                <br>
                <input class="form-control" type="text" formControlName="address1">
                <div *ngIf="registrationForm.controls['address1'].touched && !registrationForm.controls['address1'].valid">
                    <span *ngIf="registrationForm.controls['address1'].errors?.required ">
                        Please enter address1
                    </span>
                    <span *ngIf="registrationForm.controls['address1'].errors?.pattern ">
                        address1 should be alphaNumeric
                    </span>
                    <span *ngIf="registrationForm.controls['address1'].errors?.maxlength ">
                        Max length should be 30
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Address Line 2</label>
                <br>
                <input class="form-control" type="text" formControlName="address2">
            </div>
            <div class="col-sm-3">
                <label>Zip Code</label>
                <br>
                <input class="form-control" type="text" formControlName="zip">
                <div *ngIf="registrationForm.controls['zip'].touched && !registrationForm.controls['zip'].valid">
                    <span *ngIf="registrationForm.controls['zip'].errors?.required ">
                        Zip is Required
                    </span>
                    <span *ngIf="registrationForm.controls['zip'].errors?.minlength ">
                        Min length is 5
                    </span>
                    <span *ngIf="registrationForm.controls['zip'].errors?.maxlength ">
                        Max length is 5
                    </span>
                    <span *ngIf="registrationForm.controls['zip'].errors?.pattern ">
                        Only Numbers are allowed!
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>City</label>
                <br>
                <input class="form-control" type="text" formControlName="city">
                <div *ngIf="registrationForm.controls['city'].touched && !registrationForm.controls['city'].valid">
                    <span *ngIf="registrationForm.controls['city'].hasError('required') ">
                        Please enter city
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label>State</label>
                <br>
                <input class="form-control" type="text" formControlName="state">
                <div *ngIf="registrationForm.controls['state'].touched && !registrationForm.controls['state'].valid">
                    <span *ngIf="registrationForm.controls['state'].hasError('required') ">
                        Please enter State
                    </span>
                    <span *ngIf="registrationForm.controls['state'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Mobile Number</label>
                <br>
                <input class="form-control" type="text" formControlName="mobileNumber">
                <div *ngIf="registrationForm.controls['mobileNumber'].touched && !registrationForm.controls['mobileNumber'].valid">
                    <span *ngIf="registrationForm.controls['mobileNumber'].errors?.required ">
                        Telephone is Required
                    </span>
                    <span *ngIf="registrationForm.controls['mobileNumber'].errors?.maxlength ">
                        Maximum length is 10
                    </span>
                    <span *ngIf="registrationForm.controls['mobileNumber'].errors?.minlength ">
                         Minimum length is 10
                    </span>
                    <span *ngIf="registrationForm.controls['mobileNumber'].errors?.pattern ">
                        Only Numbers are allowed!
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="padding : 10px;">
            <div class="col-sm-3">
                <label>Guardian FirstName</label>
                <br>
                <input class="form-control" type="text" formControlName="kinFirst">
                <div *ngIf="registrationForm.controls['kinFirst'].touched && !registrationForm.controls['kinFirst'].valid">
                    <span *ngIf="registrationForm.controls['kinFirst'].hasError('required') ">
                        Please enter kinFirst
                    </span>
                    <span *ngIf="registrationForm.controls['kinFirst'].errors?.maxlength ">
                        Maximum of 10 characters
                    </span>
                    <span *ngIf="registrationForm.controls['kinFirst'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label>Guardian LastName</label>
                <br>
                <input class="form-control" type="text" formControlName="kinLast">
                <div *ngIf="registrationForm.controls['kinLast'].touched && !registrationForm.controls['kinLast'].valid">
                    <span *ngIf="registrationForm.controls['kinLast'].hasError('required') ">
                        Please enter kinLast
                    </span>
                    <span *ngIf="registrationForm.controls['kinLast'].errors?.maxlength ">
                        Maximum of 10 characters
                    </span>
                    <span *ngIf="registrationForm.controls['kinLast'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>

            <div class="col-sm-3">
                <label>Guardian Telephone</label>
                <br>
                <input class="form-control" type="text" formControlName="kinTelephone">
                <div *ngIf="registrationForm.controls['kinTelephone'].touched && !registrationForm.controls['kinTelephone'].valid">
                    <span *ngIf="registrationForm.controls['kinTelephone'].errors?.required ">
                        Telephone is Required
                    </span>
                    <span *ngIf="registrationForm.controls['kinTelephone'].errors?.maxlength ">
                        Maximum length is 10
                    </span>
                    <span *ngIf="registrationForm.controls['kinTelephone'].errors?.minlength ">
                        Minimum length is 10
                    </span>
                    <span *ngIf="registrationForm.controls['kinTelephone'].errors?.pattern ">
                        Only Numbers are allowed!
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Relationship</label>
                <br>
                <input class="form-control" type="text" formControlName="relationship">
                <div *ngIf="registrationForm.controls['relationship'].touched && !registrationForm.controls['relationship'].valid">
                    <span *ngIf="registrationForm.controls['relationship'].hasError('required') ">
                        Please enter relationship
                    </span>
                    <span *ngIf="registrationForm.controls['relationship'].errors?.pattern ">
                        Only alphabets are allowed!
                    </span>
                </div>
            </div>
        </div>
        <br>

        <div id="submit">
            <input type="submit" class="btn btn-info">
        </div>
    </form>
    <br>
</body>